<p style="color: green"><%= notice %></p>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
</div>

<%= link_to "New post", new_post_path %>
<% if user_signed_in? %>
  <%= link_to "User sing_out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete} %>
<% else %>
  <%= link_to "New user", new_user_registration_path %>
  <%= link_to "User sing_in", new_user_session_path %>
<% end %>
